@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Proza+Libre:600');

html, body {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #efefef;
	font-size: 1em;
	font-family: 'Cormorant Garamond', serif;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 20px auto;
	padding: 10px 12px;
}

h1 {
	font-size: 2.5em;
	font-family: 'Proza Libre', sans-serif;
	text-transform: uppercase;
	padding: 5px 15px;
	margin: 0;
	color: rgba(0,0,0,0.7);
}

.wrapper {
	background: rgba(255,255,255,0.8);
	padding: 5px 15px;
	position: relative;
	width: 100%;
}

.typeahead-location {
	position: relative;
	background-color: rgba(0,0,0,0);
	outline: none;

	width: 100%;
	padding: 5px 8px;
	font-size: 1.2em;
	line-height: 1.5;
	border: 1px solid rgb(2,78,106);
}

.twitter-typeahead {
	width: 80%;
}

.btn--search {
	border: 0;
	outline: none;
	padding: 5px 8px;
	line-height: 1.5;
	color: #ccc;
	position: absolute;
}

.tt-menu {
	background-color: #ccc;
	border: 1px solid rgb(2,78,106);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 1.1em;
	line-height: 1.4;
	border-bottom: 1px solid #fff;
}

.tt-highlight {
	color: tomato;
}

